*, :before, :after {
    box-sizing: border-box;
}
h1 {
    margin-top: 0;
}
form {
    width: 100%;
    max-width: 600px;
    margin: 1rem auto;
    padding: 2rem;
    background-color: #fafafa;
}
label {
    display: block;
}
input {
    display: block;
    width: 100%;
}
.field {
    margin: 1rem 0;
}
.error {
    color: red;
}
.error.message {
    margin-bottom: 1rem;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 1rem auto;
    padding: 1rem 0;
}
.columns {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}
.columns > .column {
    width: 100%;
    padding: 0 1rem;
}
.columns > .column-1 {
    width: 8.33333%;
}
.columns > .column-2 {
    width: 16.66667%;
}
.columns > .column-3 {
    width: 25%;
}
.columns > .column-4 {
    width: 33.33333%;
}
.columns > .column-5 {
    width: 41.66667%;
}
.columns > .column-6 {
    width: 50%;
}
.columns > .column-7 {
    width: 58.33333%;
}
.columns > .column-8 {
    width: 66.66667%;
}
.columns > .column-9 {
    width: 75%;
}
.columns > .column-10 {
    width: 83.33333%;
}
.columns > .column-11 {
    width: 91.66667%;
}
.columns > .column-12 {
    width: 100%;
}
